* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffff; }

/*HEADER+MENU*/
header {
  background-color: #1f1d1e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 0 0.7vh 0;
  box-shadow: #1f1d1e/20%;
  z-index: 10;
  position: fixed; }
  header .navbar {
    width: 100%; }
    header .navbar img {
      display: flex;
      padding-left: 7vw; }
    header .navbar .collapse {
      flex-grow: 0; }
    header .navbar ul {
      font-family: 'Montserrat', sans-serif;
      list-style-type: none;
      color: #D9564A;
      height: 8vh;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      padding-right: 7vw; }
      header .navbar ul li {
        display: flex;
        text-decoration: none; }
        header .navbar ul li a {
          color: #D9564A;
          text-decoration: none;
          background-color: transparent;
          border: 0.1vh solid transparent;
          transition: 1s; }
          header .navbar ul li a:hover {
            color: #A6483F; }

/*MAIN*/
main {
  background-color: #ffff; }

/*INDEX*/
#gridIndex {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #ffff;
  row-gap: 0px;
  justify-content: space-around;
  justify-content: center;
  align-content: center; }
  #gridIndex .backgroundIndex {
    grid-area: banner;
    display: flex;
    justify-content: center;
    background-image: url(../IMG/bannerindex.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #gridIndex .textoIndex {
    color: #1f1d1e;
    grid-area: texto;
    text-align: center;
    text-justify: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vh; }
  #gridIndex .profesor {
    grid-area: profesor;
    text-align: center;
    text-justify: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10vh; }
  #gridIndex .clasesIndex {
    grid-area: clases;
    text-align: center;
    text-justify: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #gridIndex .didactica {
    grid-area: didactica;
    text-align: center;
    text-justify: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #gridIndex .botonClases {
    grid-area: botonClases;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    padding: 1vh; }
  #gridIndex .galeriaIndex {
    grid-area: galeriaI;
    text-align: center;
    text-justify: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #gridIndex .galeriaIndex .galeriaI {
      display: flex;
      align-self: center;
      justify-self: center;
      transition: 1s;
      width: 80%; }
      #gridIndex .galeriaIndex .galeriaI:hover {
        filter: drop-shadow(0 0.2vh 0.5vh #2F2A26); }
  #gridIndex .imgIndex {
    display: flex;
    width: 7vw;
    filter: drop-shadow(0 0.2vh 0.5vh #2F2A26);
    margin: 0 0 2vh 0; }

/*QUIENSOY*/
#gridQuiensoy {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #ffff;
  row-gap: 0px;
  justify-content: space-around;
  justify-content: center;
  align-content: center; }
  #gridQuiensoy .tituloQuienSoy {
    grid-area: banner;
    display: flex;
    justify-content: center;
    background-image: url(../IMG/bannerquiensoy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #gridQuiensoy .textoQuienSoy {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: #D15D46; }
  #gridQuiensoy .fotoProf {
    grid-area: fotoquiensoy;
    display: flex;
    align-self: center;
    justify-self: center;
    filter: drop-shadow(0 0.2vh 0.5vh #2F2A26);
    height: 30vh; }

/*CLASES*/
#gridClases {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #ffff;
  row-gap: 0px;
  justify-content: space-around;
  justify-content: center;
  align-content: center; }
  #gridClases .backgroundClases {
    grid-area: banner;
    display: flex;
    justify-content: center;
    background-image: url(../IMG/bannerclases.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #gridClases .btn-primary {
    color: #fff;
    background-color: #D15D46;
    border-color: #D15D46;
    transition: 1s; }
    #gridClases .btn-primary:hover {
      color: #221E24;
      background-color: transparent; }
  #gridClases .nivel1 {
    grid-area: nivel1; }
  #gridClases .nivel2 {
    grid-area: nivel2; }
  #gridClases .nivel3 {
    grid-area: nivel3; }

/*INSTRUMENTOS*/
#gridInstrumentos {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #ffff;
  row-gap: 0px;
  justify-content: space-around;
  justify-content: center;
  align-content: center; }
  #gridInstrumentos .backgroundInstrumentos {
    grid-area: banner;
    display: flex;
    justify-content: center;
    background-image: url(../IMG/bannerinstrumentos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #gridInstrumentos .btn-primary {
    color: #fff;
    background-color: #D15D46;
    border-color: #D15D46;
    transition: 1s; }
    #gridInstrumentos .btn-primary:hover {
      color: #221E24;
      background-color: transparent; }
  #gridInstrumentos .carta1 {
    grid-area: carta1; }
  #gridInstrumentos .carta2 {
    grid-area: carta2; }
  #gridInstrumentos .carta3 {
    grid-area: carta3; }
  #gridInstrumentos .carta4 {
    grid-area: carta4; }
  #gridInstrumentos .carta5 {
    grid-area: carta5; }
  #gridInstrumentos .carta6 {
    grid-area: carta6; }

/*CONTACTO*/
#gridContacto {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #ffff;
  row-gap: 0px;
  justify-content: space-around;
  justify-content: center;
  align-content: center; }
  #gridContacto .backgroundContacto {
    grid-area: banner;
    display: flex;
    justify-content: center;
    background-image: url(../IMG/bannercontacto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #gridContacto .mapa {
    grid-area: mapa;
    display: flex;
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 80%;
    padding: 2vh;
    background-color: #D15D46;
    line-height: 1.5; }
  #gridContacto .formulario {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    padding: 50px;
    margin: 50px;
    line-height: 1.5; }
    #gridContacto .formulario textarea, #gridContacto .formulario .caja, #gridContacto .formulario select {
      border: 2px solid #A6483F;
      background-color: #ffff;
      width: 100%;
      transition: 1s; }
      #gridContacto .formulario textarea:focus, #gridContacto .formulario .caja:focus, #gridContacto .formulario select:focus {
        outline: none;
        border: none;
        border-bottom: 2px solid #A6483F; }

#whatsapp {
  position: fixed; }

/*FUENTES*/
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #A6483F;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: #2F2A26 0.1em 0.1em 0.2em;
  font-weight: 700; }

h3 {
  color: #A6483F;
  font-family: 'Montserrat', sans-serif; }

.texto {
  color: #1f1d1e;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5; }

/*FOOTER*/
footer {
  background-color: #221E24;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  footer #div1footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center; }
    footer #div1footer .afooter {
      display: flex; }
  footer #div2footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    color: #F8E0BC; }

.botonLink {
  text-decoration: none;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  background-color: #D9564A;
  transition: 1s;
  display: flex;
  border: 0.1vh solid #D9564A;
  justify-content: center;
  align-items: center; }

.botonLink:hover {
  background-color: transparent;
  color: #1f1d1e; }

/*DESKTOP*/
@media screen and (min-width: 769px) {
  /*HEADER + NAV*/
  header {
    height: 10vh; }
    header .navbar {
      width: 100%; }
      header .navbar img {
        height: 8vh; }
      header .navbar li {
        padding-right: 1vw; }
  /*MAIN*/
  main {
    padding-top: 10vh; }
  /*INDEX*/
  #gridIndex {
    grid-template-columns: 50% 50%;
    grid-template-rows: 70vh 30vh 30vh 30vh 20vh 80vh;
    grid-template-areas: "banner banner" "texto texto" "profesor profesor" "clases didactica" "botonClases botonClases" "galeriaI galeriaI"; }
  /*QUIENSOY*/
  #gridQuiensoy {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh 70vh;
    grid-template-areas: "banner banner banner"  "fotoquiensoy texto texto"; }
    #gridQuiensoy .textoQuienSoy {
      padding: 20px; }
  /*CLASES*/
  #gridClases {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh 70vh;
    grid-gap: 2vh;
    grid-template-areas: "banner banner banner" "nivel1 nivel2 nivel3"; }
    #gridClases .nivel1 {
      margin: 0 0 15vh 2vh; }
    #gridClases .nivel2 {
      margin: 0 0 8vh 2vh; }
    #gridClases .nivel3 {
      margin: 0 0 5vh 2vh; }
  /*INSTRUMENTOS*/
  #gridInstrumentos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh 55vh 55vh;
    grid-template-areas: "banner banner banner" "carta1 carta2 carta3" "carta4 carta5 carta6"; }
    #gridInstrumentos .carta1 {
      margin: 7vh 0 7vh 7vh; }
    #gridInstrumentos .carta2 {
      margin: 7vh 0 7vh 7vh; }
    #gridInstrumentos .carta3 {
      margin: 7vh 0 7vh 7vh; }
    #gridInstrumentos .carta4 {
      margin: 7vh 0 7vh 7vh; }
    #gridInstrumentos .carta5 {
      margin: 7vh 0 7vh 7vh; }
    #gridInstrumentos .carta6 {
      margin: 7vh 0 7vh 7vh; }
  /*CONTACTO*/
  #gridContacto {
    grid-template-columns: 50fr 50fr;
    grid-template-rows: 70vh 80vh;
    grid-template-areas: "banner banner " "mapa formulario"; }
  #whatsapp {
    right: 30px;
    bottom: 150px;
    height: 50px;
    width: 50px; }
  /*FUENTES*/
  h1 {
    font-size: 50px; }
  .texto {
    font-size: 18px; }
  /*FOOTER*/
  footer {
    height: 140px;
    margin: 0px; }
    footer #div1footer {
      margin-left: 30px; }
      footer #div1footer .afooter {
        height: 40px;
        width: 40px;
        margin-left: 10px; }
    footer #div2footer {
      margin-right: 30px;
      font-size: 15px; } }

/*TABLETS*/
@media screen and (min-width: 600px) and (max-width: 768px) {
  /*HEADER + NAV*/
  header {
    position: relative;
    flex-direction: column;
    justify-items: center;
    padding: 1rem; }
    header .navbar {
      width: 100%; }
      header .navbar img {
        height: 5vh;
        justify-content: center;
        margin: 0.1vh 0; }
      header .navbar ul {
        flex-direction: column;
        justify-self: center;
        height: 12vh;
        line-height: 1em; }
        header .navbar ul .linknav {
          padding: 0.5vh 0.5vh;
          font-size: 1em; }
          header .navbar ul .linknav:hover {
            border: 0.1vh solid #A6483F; }
  /*MAIN*/
  main {
    padding-top: 0; }
  /*INDEX*/
  #gridIndex {
    grid-template-columns: 100%;
    grid-template-rows: 30vh 20vh 20vh 20vh 20vh 10vh 50vh;
    grid-template-areas: "banner" "texto" "profesor" "clases" "didactica" "botonClases" "galeriaI"; }
    #gridIndex .textoIndex {
      padding: 50px; }
  /*QUIENSOY*/
  #gridQuiensoy {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 60vh;
    grid-template-areas: "banner banner banner"  "fotoquiensoy texto texto"; }
  .textoQuienSoy {
    padding: 20px; }
  /*CLASES*/
  #gridClases {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 45vh 55vh 60vh;
    grid-template-areas: "banner" "nivel1" "nivel2" "nivel3"; }
    #gridClases .nivel1, #gridClases .nivel2, #gridClases .nivel3 {
      margin: 0 0 2vh 20vw; }
  /*INSTRUMENTOS*/
  #gridInstrumentos {
    grid-template-columns: 50fr 50fr;
    grid-template-rows: 30vh 45vh 45vh 45vh;
    grid-template-areas: "banner banner " "carta1 carta2" "carta3 carta4" "carta5 carta6"; }
    #gridInstrumentos .carta1, #gridInstrumentos .carta2, #gridInstrumentos .carta3, #gridInstrumentos .carta4, #gridInstrumentos .carta5, #gridInstrumentos .carta6 {
      margin: 2vh; }
  /*CONTACTO*/
  #gridContacto {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 80vh 40vh;
    grid-template-areas: "banner" "formulario" "mapa"; }
  #whatsapp {
    right: 30px;
    bottom: 150px;
    height: 50px;
    width: 50px; }
  /*FUENTES*/
  h1 {
    font-size: 30px; }
  .texto {
    font-size: 15px; }
  /*FOOTER*/
  footer {
    height: 180px;
    margin: 0px; }
    footer #div1footer {
      margin-top: 30px; }
      footer #div1footer .afooter {
        height: 40px;
        width: 40px;
        margin-left: 10px; }
    footer #div2footer {
      margin-right: 30px;
      font-size: 15px; } }

/*MOBILE*/
@media screen and (min-width: 0px) and (max-width: 599px) {
  /*HEADER + NAV*/
  header {
    position: relative;
    flex-direction: column;
    padding: 1rem; }
    header .navbar {
      width: 100%; }
      header .navbar img {
        height: 5vh;
        justify-content: center; }
      header .navbar ul {
        flex-direction: column;
        margin-top: 1vh;
        justify-content: center;
        height: 12vh; }
        header .navbar ul .linknav {
          font-size: 1em;
          padding: 0 0.3vh; }
          header .navbar ul .linknav:hover {
            border: 0.1vh solid #A6483F; }
  /*MAIN*/
  main {
    padding-top: 0; }
  /*INDEX*/
  #gridIndex {
    grid-template-columns: 100%;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh 10vh 50vh;
    grid-template-areas: "banner" "texto" "profesor" "clases" "didactica" "botonClases" "galeriaI"; }
    #gridIndex .textoIndex {
      padding: 30px; }
  /*QUIENSOY*/
  #gridQuiensoy {
    grid-template-columns: 100%;
    grid-template-rows: 20vh 40vh 20vh;
    grid-template-areas: "banner" "fotoquiensoy"  "texto"; }
  .textoQuienSoy {
    padding: 10px; }
  .galeriaQuienSoy {
    width: 40%; }
  /*CLASES*/
  #gridClases {
    grid-template-columns: 100%;
    grid-template-rows: 20vh 45vh 55vh 60vh;
    grid-template-areas: "banner" "nivel1" "nivel2" "nivel3"; }
    #gridClases .nivel1, #gridClases .nivel2, #gridClases .nivel3 {
      margin: 0 0 2vh 20vw; }
  /*INSTRUMENTOS*/
  #gridInstrumentos {
    grid-template-columns: 100%;
    grid-template-rows: 20vh 45vh 45vh 45vh 45vh 45vh 45vh;
    grid-template-areas: "banner" "carta1"  "carta2" "carta3" "carta4" "carta5" "carta6"; }
    #gridInstrumentos .carta1, #gridInstrumentos .carta2, #gridInstrumentos .carta3, #gridInstrumentos .carta4, #gridInstrumentos .carta5, #gridInstrumentos .carta6 {
      margin: 2vh 10vw; }
  /*CONTACTO*/
  #gridContacto {
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 80vh 40vh;
    grid-template-areas: "banner" "formulario"  "mapa"; }
  #whatsapp {
    right: 30px;
    bottom: 150px;
    height: 50px;
    width: 50px; }
  /*FUENTES*/
  h1 {
    font-size: 30px; }
  .texto {
    font-size: 13px; }
  /*FOOTER*/
  footer {
    height: 180px;
    margin: 0px; }
    footer #div1footer {
      margin-top: 30px; }
      footer #div1footer .afooter {
        height: 40px;
        width: 40px;
        margin-left: 10px; }
    footer #div2footer {
      margin-right: 30px;
      font-size: 15px; } }
