$sombraImg: drop-shadow(0 0.2vh 0.5vh #2F2A26);
$colorTexto: #1f1d1e;


@mixin banners($background){
    grid-area: banner;
    display: flex;
    justify-content: center;
    background-image: $background;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffff;
}

/*HEADER+MENU*/

header{
    background-color: #1f1d1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 0.7vh 0;
    box-shadow: #1f1d1e/20%;
    z-index: 10;
    position: fixed;

    .navbar{
        width: 100%;

        img{
            display: flex;
            padding-left: 7vw;
        }        

        .collapse{
            flex-grow:0;
        }

        ul{
            font-family: 'Montserrat', sans-serif;
            list-style-type: none;
            color: #D9564A;
            height: 8vh;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            padding-right: 7vw; 

            li{
                display: flex;
                text-decoration: none;

                a{
                    color: #D9564A;
                    text-decoration: none;
                    background-color: transparent;
                    border:0.1vh solid transparent;
                    transition: 1s;
                    &:hover{
                        color:#A6483F;
                    
                    }
                } 
            }
        }
    }
}

/*MAIN*/
main{
    background-color:  #ffff;
}

/*INDEX*/

#gridIndex{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    row-gap: 0px;
    justify-content: space-around;
    justify-content: center;
    align-content: center;

    .backgroundIndex{
        @include banners(url(../IMG/bannerindex.png));
    }

    .textoIndex{
        color: #1f1d1e;
        grid-area: texto;
        text-align: center;
        text-justify: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10vh;
    }

    .profesor{
        grid-area: profesor;
        text-align: center;
        text-justify: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 10vh;
    }

    .clasesIndex{
        grid-area: clases;
        text-align: center;
        text-justify: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .didactica{
        grid-area: didactica;
        text-align: center;
        text-justify: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botonClases{
        grid-area: botonClases;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        padding: 1vh;
    }

    .galeriaIndex{
        grid-area: galeriaI;
        text-align: center;
        text-justify: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .galeriaI{
            display: flex;
            align-self: center;
            justify-self: center;
            transition: 1s;
            width: 80%;

            &:hover{
                filter: $sombraImg;
            }
        }

    }
    .imgIndex{
        display: flex;
        width: 7vw;
        filter: $sombraImg;
        margin: 0 0 2vh 0;
    }
}


/*QUIENSOY*/
#gridQuiensoy{ 
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #ffff ;
    row-gap: 0px;
    justify-content: space-around;
    justify-content: center;
    align-content: center;

    .tituloQuienSoy{
        @include banners(url(../IMG/bannerquiensoy.png))
    }
    
    .textoQuienSoy{
        grid-area: texto;
        display:flex ;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        background-color: #D15D46;
    }
    
    .fotoProf{
        grid-area: fotoquiensoy;
        display: flex;
        align-self: center;
        justify-self: center;
        filter: $sombraImg;
        height: 30vh;
    }
}



/*CLASES*/

#gridClases{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    row-gap: 0px;
    justify-content: space-around;
    justify-content: center;
    align-content: center;

    .backgroundClases{
        @include banners(url(../IMG/bannerclases.png))
    }

    .btn-primary {
        color: #fff;
        background-color: #D15D46;
        border-color: #D15D46;
        transition: 1s;

        &:hover{
            color: #221E24;
            background-color: transparent;
        }
    }
    
    .nivel1{
        grid-area: nivel1;
    }
    
    .nivel2{
        grid-area: nivel2;
    }
    
    .nivel3{
        grid-area: nivel3;
    }

}


/*INSTRUMENTOS*/

#gridInstrumentos{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    row-gap: 0px;
    justify-content: space-around;
    justify-content: center;
    align-content: center; 

    .backgroundInstrumentos{
        @include banners(url(../IMG/bannerinstrumentos.png));
    }

    .btn-primary {
        color: #fff;
        background-color: #D15D46;
        border-color: #D15D46;
        transition: 1s;

        &:hover{
            color: #221E24;
            background-color: transparent;
        }
    }
     
    .carta1{
        grid-area: carta1;
    }

    .carta2{
        grid-area: carta2;
    }

    .carta3{
        grid-area: carta3;
    }

    .carta4{
        grid-area: carta4;
    }

    .carta5{
        grid-area: carta5;
    }

    .carta6{
        grid-area: carta6;
    }
}


/*CONTACTO*/

#gridContacto {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #ffff;
    row-gap: 0px;
    justify-content: space-around;
    justify-content: center;
    align-content: center;

    .backgroundContacto{
        @include banners(url(../IMG/bannercontacto.png));
    }
    
    .mapa{
        grid-area: mapa;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 80%;
        padding: 2vh;
        background-color: #D15D46;
        line-height: 1.5;
    }
    
    .formulario{
        grid-area: formulario;
        display: flex;
        flex-direction: column;
        justify-items: start;
        align-items: center;
        padding: 50px; 
        margin:50px;
        line-height: 1.5;

        textarea, .caja, select{
        border: 2px solid #A6483F;
        background-color: #ffff;
        width: 100%;
        transition: 1s;
            
            &:focus{
                outline: none;
                border:none;
                border-bottom: 2px solid #A6483F;
            }
        }
    }
}    



#whatsapp{
    position: fixed;
}


/*FUENTES*/

h1{
    font-family: 'Montserrat', sans-serif;
    color: #A6483F;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: #2F2A26 0.1em 0.1em 0.2em;
    font-weight: 700;
}

h3{
    color: #A6483F;
    font-family: 'Montserrat', sans-serif;  
}

.texto{
    color: $colorTexto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/*FOOTER*/
footer {
    background-color: #221E24;
    width: 100%;
    display: flex;
    justify-content: space-between;

    #div1footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;
        align-items: center;

        .afooter{
            display: flex;
        }
    }

    #div2footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 2;
        font-family: 'Montserrat', sans-serif;
        color: #F8E0BC; 
    }

} 

.botonLink{
    text-decoration: none;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    background-color: #D9564A;
    transition: 1s;
    display: flex;
    border: 0.1vh solid #D9564A;
    justify-content: center;
    align-items: center;
}

.botonLink:hover{
    background-color: transparent;
    color: #1f1d1e;
}

/*DESKTOP*/
@media screen and (min-width: 769px){
    
/*HEADER + NAV*/
header{
    height: 10vh; 

    .navbar{
        width: 100%;

        img{
            height: 8vh;
        }
        
        li{
            padding-right: 1vw; 
        }
    }

}

/*MAIN*/
main{
    padding-top: 10vh;
}

/*INDEX*/

#gridIndex{
    grid-template-columns: 50% 50%;
    grid-template-rows:70vh 30vh 30vh 30vh 20vh 80vh;
    grid-template-areas: "banner banner"
                         "texto texto"
                         "profesor profesor"
                         "clases didactica"
                         "botonClases botonClases"
                         "galeriaI galeriaI";
}


/*QUIENSOY*/
#gridQuiensoy{ 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70vh 70vh;
    grid-template-areas:"banner banner banner" 
                        "fotoquiensoy texto texto";

                        .textoQuienSoy{
                            padding: 20px;
                        }
}

/*CLASES*/

#gridClases{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:70vh 70vh ;
    grid-gap: 2vh;
    grid-template-areas: "banner banner banner"
                         "nivel1 nivel2 nivel3";

                        .nivel1{
                            margin: 0 0 15vh 2vh;
                        }

                        .nivel2{
                            margin: 0 0 8vh 2vh;
                        }

                        .nivel3{
                            margin: 0 0 5vh 2vh;
                        }

}


/*INSTRUMENTOS*/

#gridInstrumentos{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:70vh 55vh 55vh;
    grid-template-areas: "banner banner banner"
                         "carta1 carta2 carta3"
                         "carta4 carta5 carta6";

                        .carta1{
                            margin: 7vh 0 7vh 7vh;
                        }

                        .carta2{
                            margin: 7vh 0 7vh 7vh;
                        }

                        .carta3{
                            margin: 7vh 0 7vh 7vh;
                        }

                        .carta4{
                            margin: 7vh 0 7vh 7vh;;
                        }

                        .carta5{
                            margin: 7vh 0 7vh 7vh;
                        }

                        .carta6{
                            margin: 7vh 0 7vh 7vh;
                        }
}

/*CONTACTO*/

#gridContacto {
    grid-template-columns: 50fr 50fr ;
    grid-template-rows:70vh 80vh;
    grid-template-areas: "banner banner "
                         "mapa formulario";
}    


#whatsapp{
    right: 30px;
    bottom: 150px;
    height: 50px;
    width: 50px;
}

/*FUENTES*/

h1{
    font-size: 50px;
}

.texto{
    font-size: 18px; 
}



/*FOOTER*/
footer {
    height: 140px;
    margin: 0px;

    #div1footer{
        margin-left: 30px;

        .afooter{
            height: 40px;
            width: 40px;
            margin-left: 10px;
        }
    }

    #div2footer{
        margin-right: 30px;
        font-size: 15px
    }
} 

}

/*TABLETS*/
@media screen and (min-width: 600px) and (max-width: 768px) {

/*HEADER + NAV*/
header{
    position:relative;
    flex-direction: column;
    justify-items: center;
    padding: 1rem;

    .navbar{
        width: 100%;

        img{
            height: 5vh;
            justify-content: center;
            margin: 0.1vh 0;
        }

        ul{
            flex-direction: column;
            justify-self: center;
            height: 12vh;
            line-height: 1em;
            
            .linknav{
                padding:0.5vh 0.5vh;
                font-size: 1em;
    
                &:hover{
                    border:0.1vh solid #A6483F;
                }
            }
        }
    }
}




/*MAIN*/
main{
    padding-top: 0;
}

/*INDEX*/

#gridIndex{
    grid-template-columns: 100%;
    grid-template-rows:30vh 20vh 20vh 20vh 20vh 10vh 50vh;
    grid-template-areas: "banner"
                         "texto"
                         "profesor"
                         "clases"
                         "didactica"
                         "botonClases"
                         "galeriaI";

                         .textoIndex{
                            padding: 50px;
                        }
}



/*QUIENSOY*/


#gridQuiensoy{ 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 60vh;
    grid-template-areas:"banner banner banner" 
                        "fotoquiensoy texto texto";
}

.textoQuienSoy{
    padding: 20px;
}

/*CLASES*/

#gridClases{
    grid-template-columns: 1fr;
    grid-template-rows:30vh 45vh 55vh 60vh;
    grid-template-areas: "banner"
                         "nivel1"
                         "nivel2"
                         "nivel3";

                         .nivel1, .nivel2, .nivel3{
                             margin: 0 0 2vh 20vw;
                         }
}

/*INSTRUMENTOS*/

#gridInstrumentos{
    grid-template-columns: 50fr 50fr ;
    grid-template-rows:30vh 45vh 45vh 45vh;
    grid-template-areas: "banner banner "
                         "carta1 carta2"
                         "carta3 carta4"
                         "carta5 carta6";

                        .carta1, .carta2, .carta3, .carta4, .carta5, .carta6{
                            margin: 2vh;
                        }
}

/*CONTACTO*/

#gridContacto {
    grid-template-columns: 1fr;
    grid-template-rows:30vh 80vh 40vh;
    grid-template-areas: "banner"
                         "formulario"
                         "mapa";
}    

#whatsapp{
    right: 30px;
    bottom: 150px;
    height: 50px;
    width: 50px;
}

/*FUENTES*/

h1{
    font-size: 30px;
}

.texto{
    font-size: 15px; 
}



/*FOOTER*/
footer {
    height: 180px;
    margin: 0px;

    #div1footer{
        margin-top: 30px;

        .afooter{
            height: 40px;
            width: 40px;
            margin-left: 10px;
        }
    }

    #div2footer{
        margin-right: 30px;
        font-size: 15px
    }
} 

}

/*MOBILE*/
@media screen and (min-width: 0px) and (max-width: 599px) {
    /*HEADER + NAV*/
header{
    position:relative;
    flex-direction: column;
    padding: 1rem;

    .navbar{
        width: 100%;

        img{
            height: 5vh;
            justify-content: center;
        }

        ul{
            flex-direction: column;
            margin-top: 1vh;
            justify-content: center;
            height: 12vh;

            .linknav{
                font-size: 1em;
                padding: 0 0.3vh;

                &:hover{
                    border:0.1vh solid #A6483F;
                }
            }
            
        }
        
    }

}

/*MAIN*/
main{
    padding-top: 0;
}

/*INDEX*/

#gridIndex{
    grid-template-columns: 100%;
    grid-template-rows:20vh 20vh 20vh 20vh 20vh 10vh 50vh;
    grid-template-areas: "banner"
                         "texto"
                         "profesor"
                         "clases"
                         "didactica"
                         "botonClases"
                         "galeriaI";

                         .textoIndex{
                            padding: 30px; 
                        }
}



/*QUIENSOY*/

#gridQuiensoy{ 
    grid-template-columns: 100%;
    grid-template-rows: 20vh 40vh 20vh;
    grid-template-areas:"banner"
                        "fotoquiensoy" 
                        "texto";
}

.textoQuienSoy{
    padding: 10px; 
}

.galeriaQuienSoy{
    width: 40%;
}

/*CLASES*/

#gridClases{
    grid-template-columns: 100%;
    grid-template-rows:20vh 45vh 55vh 60vh;
    grid-template-areas: "banner"
                         "nivel1"
                         "nivel2"
                         "nivel3";

                         .nivel1, .nivel2, .nivel3{
                             margin: 0 0 2vh 20vw;
                         }
}

/*INSTRUMENTOS*/

#gridInstrumentos{
    grid-template-columns: 100%;
    grid-template-rows:20vh 45vh 45vh 45vh 45vh 45vh 45vh;
    grid-template-areas: "banner"
                         "carta1" 
                         "carta2"
                         "carta3"
                         "carta4"
                         "carta5"
                         "carta6";    

                        .carta1, .carta2, .carta3, .carta4, .carta5, .carta6{
                            margin: 2vh 10vw;
                        }
}

/*CONTACTO*/

#gridContacto {
    grid-template-columns: 1fr ;
    grid-template-rows:20vh 80vh 40vh;
    grid-template-areas: "banner"
                         "formulario" 
                         "mapa";
}    

#whatsapp{
    right: 30px;
    bottom: 150px;
    height: 50px;
    width: 50px;
}

/*FUENTES*/

h1{
    font-size: 30px;
}

.texto{
    font-size: 13px; 
}



/*FOOTER*/
footer {
    height: 180px;
    margin: 0px;

    #div1footer{
        margin-top: 30px;

        .afooter{
            height: 40px;
            width: 40px;
            margin-left: 10px;
        }
    }

    #div2footer{
        margin-right: 30px;
        font-size: 15px
    }
} 

}
